.header {
  position: fixed;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.mode {
  display: inline-block;
  padding: 1rem;
  margin-right: 2rem;
}

.navbar {
  display: inline-block;
  padding: 1rem;
}

.navlinks {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navlinks li {
  display: inline-block;
  margin-right: 1rem;
}

.navlinks li > a {
  text-decoration: none;
  color: inherit;
}
